@import url(allando.css);
html {
  background-image: url(GRID_TABLAZAT/kepek/hatter.jpg);
  background-size: cover;
}
body {
  width: 1040px;
  min-height: 100vh;
  margin: auto;
  background-color: white;
  padding: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
h1 {
  margin-top: auto;
  text-align: center;
  align-items: end;
  color: white;
  padding-top: 3rem;
}
.head {
  background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
  height: 6rem;
}
.gombok {
  margin-top: 1rem;
}
.gombok a {
  display: block;
  width: 12rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 4px;
  margin-bottom: 4px;
  text-align: center;
  text-decoration: none;
  background-color: var(--buttoncolor);
  border-radius: 1rem;
  color: white;
  grid-area: g;
}
.felsonegy {
  grid-area: f;
  z-index: 3;
  position: relative;
  margin-right: -6rem;
}
.alsonegy {
  grid-area: a;
  z-index: 3;
  position: relative;
  margin-right: -6rem;
}
.kepek {
  margin-top: 2rem;
}
img {
  width: 160px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}
div.rotate_left {
  float: left;
  transform: rotate(-8deg);
}
div.rotate_right {
  float: left;
  transform: rotate(7deg);
}
p {
  text-align: justify;
  margin: 2rem;
}
h2 {
  margin: 2rem;
}
.szoveg {
  border: 1px solid grey;
  z-index: 2;
  position: relative;
}
.szoveg h2 p {
  grid-area: sz;
  padding: auto;
}
.grid {
  display: grid;
  grid-template-areas:
    "g f sz"
    "g a sz";
  grid-template-columns: 20% 2fr 1.5fr;
}
footer {
  background-color: var(--buttoncolor);
  height: 2.5rem;
  text-align: center;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .grid {
    display: grid;
    grid-template-areas:
      "g"
      "f"
      "a"
      "sz";
    grid-template-columns: 1fr;
  }
  .head {
    height: fit-content;
  }
  h1 {
    text-align: center;
    padding: auto;
    margin: auto;
    line-break: auto;
  }
  .kepek {
    max-width: fit-content;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  h2,
  p {
    line-height: 1.5;
    line-break: auto;
  }
  footer {
    line-break: auto;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  body {
    width: auto; 
  }

  .grid {
    grid-template-areas:
      "g f sz"
      "g a sz";
    grid-template-columns: 1fr 2fr 1.5fr;
  }

  h1 {
    text-align: center;
  }


  .kepek img {
    max-width: 100%;
  }
}

